body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4e4f2; /* Soft Lavender */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#passcode-container, #gallery-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    color: #e84393; /* Vibrant Pink */
}

input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #e84393; /* Vibrant Pink */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d83383; /* Darker Pink */
}

#error-message {
    color: #d9534f;
    margin-top: 10px;
}

#gallery-container {
    width: 90%;
    max-width: 600px; /* Narrower for a single column */
    display: none; /* Initially hidden */
    height: 85vh; /* Set a height */
    overflow-y: auto; /* Make it scrollable */
    padding-right: 15px; /* Add some padding for the scrollbar */
}

header {
    margin-bottom: 30px;
}

#book-gallery {
    display: block; /* Change from grid to block for a vertical layout */
}

.book-item {
    background-color: #ffffff;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    margin-bottom: 25px; /* Add space between items */
    text-align: left; /* Align text to the left for better readability */
}

.book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.book-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.book-item h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.book-item p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
}
